<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	     xmlns:beans="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				 http://www.springframework.org/schema/security
				 http://www.springframework.org/schema/security/spring-security-3.0.xsd">

  <!-- Allow secured annotations -->
  <global-method-security secured-annotations="enabled" />

  <!-- Set auto-config to 'false' to add custom stuff -->
  <http use-expressions="true">
    <intercept-url pattern="/edu/admin" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/edu/admin/**" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/edu/users" access="hasRole('ROLE_USER')" />
    <intercept-url pattern="/edu/users/**" access="hasRole('ROLE_USER')" />
    <intercept-url pattern="/**" access="permitAll" />

    <form-login login-page="/edu/login" default-target-url="/edu/home"
		always-use-default-target="true"/>
    <logout logout-success-url="/edu/home"/>
    <!--     <remember-me /> -->
  </http>

  <authentication-manager>
    <authentication-provider ref="authnProvider"/>
  </authentication-manager>

  <!-- auth provider which actually does low level work for authentication -->
  <beans:bean id="authnProvider" class="com.venus.controller.auth.authnProvider"/>


</beans:beans>
